<form action="<%= @options[:action] %>" method="<%= @options[:method] %>">
  <% if !@options[:secret_method].nil? %>
    <input name="_method" type="hidden" value="<%= @options[:secret_method] %>">
  <% end %>
  <label for="board_name">Board Name</label>
  <input id="board_name" name="board_name" type=text default="<%= @options[:default_name] %>">
  <button type="submit">Submit</button>
</form>

<!-- Add button for deleting if form is being used for editing -->
<% if @options[:secret_method] == "patch" %>
  <form action="/board/<%= @options[:board_id] %>/delete" method="post">
    <input name="_method" type="hidden" value="delete">
    <button type="submit">Delete Board</button>
  </form>
<% end %>
